.treemenu {
	/*	font-family: HGŠÛºŞ¼¯¸M-PRO, ‚c‚e×ŠÛƒSƒVƒbƒN‘Ì;*/
	/*, Comic Sans MS, verdana, HGŠÛºŞ¼¯¸M-PRO, kawaiiè‘‚«•¶š;*/

	margin : 0 0;

	font-size: 0.9em;
	padding: 0px;
	list-style: none;
	background-color: #F0FFF0;
	border:solid 2px #DCDCDC;
	width : 215px;
	height: 440px;
	overflow: auto;
	border-radius: 10px;
}

.treemenu UL {
	list-style : none;
	margin : 0px 10px;
	padding : 0px 10px;
}

.treemenu LI {
	display : inline;
}

.treemenu A {
	display : block;
	padding-left : 33px;
	padding-top : 5px;
	text-decoration : none;
	color: black;
}

.treemenu .treeopen {
	background-image : url('/assets/js/listMenu/open.png');
	background-repeat : no-repeat;
	background-position : left;
}

.treemenu .treeclosed {
	background-image : url('/assets/js/listMenu/closed.png');
	background-repeat : no-repeat;
	background-position : left;
}
.treemenu .text{
	background-image : url('/assets/js/listMenu/document.png');
	background-repeat : no-repeat;
	background-position : left;
	padding-left: 17px;
}
.treemenu a:hover{
	color: #FF0000;

}

